@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not use your data for anything. We will just collect it and that's it. No selling, sharing or anything.</p>
